{% extends "layout.html.twig" %}

{% block body %}
<h2>Page d'accueil</h2>

{% if secretKey %}
    <form action="{{ path_for('secretKey.forget') }}" method="POST" accept-charset="utf-8">
{#         <inputGroup>
            <label for="secretKey">Clé secrète</label>
        </inputGroup> #}
        <button class="button button--wapasha danger" type="submit">Oublier la clé secrète</button>
    </form>
{% else %}
    <form action="{{ path_for('secretKey.save') }}" method="post" accept-charset="utf-8">
        <inputGroup>
            <label for="secretKey">Clé secrète</label>
            <input type="password" name="secretKey" id="secretKey"  value="{{secretKey}}" required>
        </inputGroup>
        <button class="button button--wapasha" type="submit">Enregistrer la clé secrète</button>
    </form>
{% endif %}

{% endblock %}
