{% extends "layout.html.twig" %}

{% block body %}
<h2>Créer une todo list</h2>
<form action="{{ path_for('list.create') }}" method="post" accept-charset="utf-8">
{#     <inputGroup>
        <label for="secretKey">Secret Key</label>
        <input type="password" name="secretKey" id="secretKey" required>
    </inputGroup> #}
    <inputGroup>
        <label for="listName">Nom de la liste</label>
        <input type="text" name="listName" id="listName" required>
    </inputGroup>
    <button class="button button--wapasha" type="submit">Créer la liste</button>
</form>
{% endblock %}
