{% extends "layout.html.twig" %}

{% block body %}
    <todolistWrapper>
        <todolist>
            {% if subscribed %}
                <h2><strong>{{ todolistId }}</strong> - Todo List</h2>

                <ul class="todolist">
                    {% for index,todo in todolist %}
                            <li class="{% if todo.value == 'pending' %}pending{% elseif todo.value == 'done' %}done{% endif %}">
                                {% if is_admin and (todo.value == 'done') %}
                                <a class="delete" href="#{{todo.hash}}" onclick="remove(this);" data-hash="{{todo.hash}}">
                                    <svg class="svg delete" viewBox="0 0 59 59">
                                      <g>
                                        <path d="M20 25 L40 45 M40 25 L20 45"/>
                                        <path d="M52.5,6H38.456c-0.11-1.25-0.495-3.358-1.813-4.711C35.809,0.434,34.751,0,33.499,0H23.5c-1.252,0-2.31,0.434-3.144,1.289
                                        C19.038,2.642,18.653,4.75,18.543,6H6.5c-0.552,0-1,0.447-1,1s0.448,1,1,1h2.041l1.915,46.021C10.493,55.743,11.565,59,15.364,59
                                        h28.272c3.799,0,4.871-3.257,4.907-4.958L50.459,8H52.5c0.552,0,1-0.447,1-1S53.052,6,52.5,6z M21.792,2.681
                                        C22.24,2.223,22.799,2,23.5,2h9.999c0.701,0,1.26,0.223,1.708,0.681c0.805,0.823,1.128,2.271,1.24,3.319H20.553
                                        C20.665,4.952,20.988,3.504,21.792,2.681z M46.544,53.979C46.538,54.288,46.4,57,43.636,57H15.364
                                        c-2.734,0-2.898-2.717-2.909-3.042L10.542,8h37.915L46.544,53.979z"/>
                                    </g>

                                </svg>
                                </a>
                                {% else %}
                                    <svg class="svg delete" viewBox="0 0 30 30">
                                    </svg>
                                {% endif %}

                                <a href="#{{todo.hash}}" onclick="toggle(this);" data-hash="{{todo.hash}}" data-changeTo="{% if todo.value == 'pending' %}done{% elseif todo.value == 'done' %}pending{% endif %}">
                                    <svg class="svg check" viewBox="0 0 30 20">
                                      <path d="M0 10 L10 20 L20 0"></path>
                                    </svg>
                                    <span>{{todo.label}}</span>
                                </a>
                            </li>
                    {% endfor %}
                </ul>

                <form action="{{ path_for('list.create.task', {'todolist': todolistId}) }}" method="post" accept-charset="utf-8">
                {#     <inputGroup>
                        <label for="secretKey">Secret Key</label>
                        <input type="password" name="secretKey" id="secretKey" required>
                    </inputGroup> #}
                    <inputGroup>
                        <label for="taskName">Nouvelle tache</label>
                        <input type="text" name="taskName" id="taskName" placeholder="Intitulé de la tâche" required>
                    </inputGroup>
                    <button class="button button--wapasha" type="submit">Créer la tâche</button>
                </form>
            {% else %}
                <h2><strong>{{ todolistId }}</strong> - Todo List</h2>
                <ul class="todolist">
                    {% for index,todo in todolist %}
                            <li class="{% if todo.value == 'pending' %}pending{% elseif todo.value == 'done' %}done{% endif %}">
                                <svg class="svg check" viewBox="0 0 30 20">
                                  <path d="M0 10 L10 20 L20 0"></path>
                                </svg>
                                <span>{{todo.label}}</span>
                            </li>
                    {% endfor %}
                </ul>
                <form action="{{ path_for('list.user.suscribe', {'todolist': todolistId}) }}" method="post" accept-charset="utf-8">
                    <button class="button button--wapasha" type="submit">S'inscrire à la liste</button>
                </form>
            {% endif %}
        </todolist>
        <todolistAppart>
            <todolistAppartInfo>
            {% if admin %}
                {% if is_admin %}
                    <p>Vous êtes administrateur de cette liste</p>
                    <form action="{{ path_for('list.user.unadmin', {'todolist': todolistId}) }}" method="post" accept-charset="utf-8">
                        <button class="button button--wapasha danger" type="submit">Ne plus être administrateur</button>
                    </form>
                {% endif %}
            {% elseif subscribed %}
                <br/>
                <form action="{{ path_for('list.user.admin', {'todolist': todolistId}) }}" method="post" accept-charset="utf-8">
                    <input type="hidden" name="email" value="{{email}}">
                    <button class="button button--wapasha" type="submit">Devenir administrateur</button>
                </form>
            {% endif %}

            {% if member_list %}
                <br/>
                <br/>
                <p>Membres:</p>
                <ul style="list-style-type: none;">
                    {% for email in member_list %}
                        <li>{{email}}{% if email in admin %} | Admin{% elseif is_admin %}<form action="{{ path_for('list.user.admin', {'todolist': todolistId}) }}" method="post" accept-charset="utf-8">
                        <input type="hidden" name="email" value="{{email}}">
                    <button type="" class="button button--size-s button--wapasha">Rendre admin</button>
                </form>{% endif %}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </todolistAppartInfo>
            <todolistAppartSuppress>
            {% if is_admin %}
                <form action="{{ path_for('list.delete', {'todolist': todolistId}) }}" method="post" accept-charset="utf-8">
                    <button type="" class="button button--wapasha danger hard">Supprimer la liste</button>
                </form>
            {% elseif subscribed %}
                <form action="{{ path_for('list.user.unsuscribe', {'todolist': todolistId}) }}" method="post" accept-charset="utf-8">
                    <button type="submit" class="button button--wapasha danger">Se désinscrire de la liste</button>
                </form>
            {% endif %}
            </todolistAppartSuppress>

        </todolistAppart>

    </todolistWrapper>

{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
    var toggle = function(caller) {
        var form = document.createElement("form");
        form.setAttribute("method", 'POST');
        form.setAttribute("action", '{{path_for('task.modify')}}');

        var hash = document.createElement("input");
        hash.setAttribute("type", "hidden");
        hash.setAttribute("name", 'hash');
        hash.setAttribute("value", caller.dataset.hash);
        console.log(hash);
        form.appendChild(hash);

        var todolistId = document.createElement("input");
        todolistId.setAttribute("type", "hidden");
        todolistId.setAttribute("name", 'todolistId');
        todolistId.setAttribute("value", '{{ todolistId }}');
        form.appendChild(todolistId);

        var newValue = document.createElement("input");
        newValue.setAttribute("type", "hidden");
        newValue.setAttribute("name", 'newValue');
        newValue.setAttribute("value", caller.dataset.changeto);
        form.appendChild(newValue);

        document.body.appendChild(form);
        form.submit();
    };

    var remove = function(caller) {
        var form = document.createElement("form");
        form.setAttribute("method", 'POST');
        form.setAttribute("action", '{{path_for('task.delete')}}');

        var hash = document.createElement("input");
        hash.setAttribute("type", "hidden");
        hash.setAttribute("name", 'hash');
        hash.setAttribute("value", caller.dataset.hash);
        console.log(hash);
        form.appendChild(hash);

        var todolistId = document.createElement("input");
        todolistId.setAttribute("type", "hidden");
        todolistId.setAttribute("name", 'todolistId');
        todolistId.setAttribute("value", '{{ todolistId }}');
        form.appendChild(todolistId);

        document.body.appendChild(form);
        form.submit();
    };
    // $('.todolist li a').click(toggle);
    </script>
{% endblock %}
