body {
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #455A64;
}

body a{
    color: #455A64;
}

header {
    border-bottom: 2px #455A64 dashed;
    border-bottom-left-radius: 50px;
}


header h1 {
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: center;
    line-height: 2.5em;
}

wrapper {
    flex-grow: 1;
    display: flex;
}

nav {
    width: 11em;
    border-right: 2px #455A64 dashed;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

nav ul {
    padding-left: 1em;
    padding-right: 1em;
}

nav ul li {
    font-size: 0.9em;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a .arrow{
    width: 1rem;
    vertical-align: top;
    fill: none;
    // transform: translateX(-100%) rotate(-179deg);
    transition: all 0.3s;
    opacity: 0;
    stroke: black;
    stroke-width: 2px;
    stroke-dasharray: 1, 20;
    stroke-dashoffset: -14;
}

nav ul li a.active .arrow{
    transform: translateX(0);
    stroke: #FF5722;
    opacity: 1;
    stroke-dasharray: 29, 20;
    stroke-dashoffset: 0;
}

nav ul:hover li a .arrow, nav ul:focus li a .arrow{
    opacity: 0;
    stroke-dasharray: 1, 20;
    stroke-dashoffset: -14;
}

nav ul li:hover a .arrow, nav ul li:focus a .arrow{
    transform: translateX(0);
    opacity: 1;
    stroke-dasharray: 29, 20;
    stroke-dashoffset: 0;
}


nav ul li a.active{
    font-weight: bold;
}



content {
    flex-grow: 1;
    padding-left: 1em;
    padding-right: 1em;
}

inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
ul.todolist {
    list-style-type: none;
}

ul.todolist li a:hover {
    font-weight: bold;
}

ul.todolist li a, ul.todolist li a span{
    // transition: all 0.3s;
}

ul.todolist li a .svg {
    transition: all 0.3s;
}

ul.todolist li a, ul.todolist li.done a:hover span, ul.todolist li.done a:focus span{
    text-decoration: none;
    border-bottom: none;
}


ul.todolist li.pending a:hover span, ul.todolist li.done span{
    text-decoration: line-through;
}

ul.todolist li .svg, ul.todolist li.done a:hover .svg, ul.todolist li.done a:focus .svg {
    width: 1.5rem;
    fill: none;
    stroke: grey;
    stroke-width: 3px;
    opacity: 0.5;
}

ul.todolist li.pending a:hover .svg, ul.todolist li.pending a:focus .svg, ul.todolist li.done .svg {
    stroke: #8BC34A;
    stroke-width: 4px;
    opacity: 1;
}

ul.todolist li .svg.delete {
    margin-right: 1em;
    width: 1rem;
    margin-top: 1em;
    stroke: grey;
    opacity: 0.5;
}

ul.todolist li a:hover .svg.delete, ul.todolist li a:focus .svg.delete {
    width: 1rem;
    stroke-width: 4px;
    stroke: #FF5722;
    opacity: 1;
}

ul.todolist li a.delete + a {
    transition: opacity 0.3s;
}

ul.todolist li a.delete:hover + a, ul.todolist li a.delete:focus + a {
    opacity: 0.2;
}

todolistWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

todolist {
    flex-grow: 2;
    padding-bottom: 2em;
    padding-right: 1em;
}

todolistAppart {
    border-left: 2px #455A64 dashed;
    max-width: 25em;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

todolistAppartInfo {
    flex-grow: 2;
    padding: 1em;
}

todolistAppartSuppress {
    padding: 1em;
    border-top: 2px #455A64 dashed;
}









/* Common button styles */
.button {
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.button:focus {
    outline: none;
}

.button > span {
    vertical-align: middle;
}

/* Sizes */
.button--size-s {
    font-size: 14px;
}

.button--size-m {
    font-size: 16px;
}

.button--size-l {
    font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button--text-thin {
    font-weight: 300;
}

.button--text-medium {
    font-weight: 500;
}

.button--text-thick {
    font-weight: 600;
}

.button--round-s {
    border-radius: 5px;
}

.button--round-m {
    border-radius: 15px;
}

.button--round-l {
    border-radius: 40px;
}

/* Borders */
.button--border-thin {
    border: 1px solid;
}

.button--border-medium {
    border: 2px solid;
}

.button--border-thick {
    border: 3px solid;
}

/* Wapasha */
.button.button--wapasha, .button.button--wapasha:active, .button.button--wapasha:focus  {
    background: #8BC34A;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

.button--wapasha.danger, .button.button--wapasha.danger:active, .button.button--wapasha.danger:focus {
    background: #FF5722;
    color: #fff;
}

.button--wapasha.hard, .button.button--wapasha.hard:active, .button.button--wapasha.hard:focus {
    background: #B71C1C;
    color: #fff;
}

.button--wapasha.button--inverted {
    background: #fff;
    color: #8BC34A;
}
.button--wapasha::before, .button.button--wapasha:active::before, .button.button--wapasha:focus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid #8BC34A;
    z-index: -1;
    border-radius: inherit;
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--wapasha.danger::before, .button.button--wapasha.danger:active::before, .button.button--wapasha.danger:focus::before {
    border-color: #FF5722;
}

.button--wapasha.hard::before, .button.button--wapasha.hard:active::before, .button.button--wapasha.hard:focus::before {
    border-color: #B71C1C;
}

.button--wapasha.button--inverted::before {
    border-color: #7986cb;
}

.button--wapasha:hover {
    background-color: #fff;
    color: #8BC34A;
}

.button--wapasha:hover.danger {
    color: #FF5722;
}

.button--wapasha:hover.hard {
    color: #B71C1C;
}

.button--wapasha.button--inverted:hover {
    background-color: #8BC34A;
    color: #7986cb;
}
.button--wapasha:hover::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

@keyframes toGrayScale {
  from {
    filter: grayscale(0);
  }

  to {
    filter: grayscale(1);
  }
}

.button.loading {
  animation-duration: 0.3s;
  animation-name: toGrayScale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}