{% set scripts = [] %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Todos - CoWaBoo Apps</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <link rel="stylesheet" href="{{ path_for('home') }}/css/main.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <h1>Todos - CoWaBoo Apps</h1>
        </header>

        <wrapper>
            <nav>
                <ul>
                    <li>
                        <a class="{% if(currentRoute == 'home') %}active{% endif %}" href="{{ path_for('home') }}">
                            <svg class="svg arrow" viewBox="0 0 20 20">
                              <path d="M0 0 L10 10 L0 20"></path>
                            </svg>
                            Accueil {{ app }}
                        </a>
                    </li>
                    {%if secretKey %}
                        <li>
                            <a class="{% if(currentRoute == 'list.new') %}active{% endif %}" href="{{ path_for('list.new') }}">
                                <svg class="svg arrow" viewBox="0 0 20 20">
                                  <path d="M0 0 L10 10 L0 20"></path>
                                </svg>
                                Créer une liste
                            </a>
                        </li>
                    {% endif %}
                    {%if todoLists %}
                        <li>&nbsp;</li>
                        <li><strong>Abonné</strong></li>
                        {% for todo,tags in todoLists %}
                        <li>
                            <a class="{% if(currentRoute == 'list.show.'~todo) %}active{% endif %}" href="{{ path_for('list.show', {'todolist': todo}) }}">
                                <svg class="svg arrow" viewBox="0 0 20 20">
                                  <path d="M0 0 L10 10 L0 20"></path>
                                </svg>
                                {{ todo }}
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    {%if unsubscribedTodoLists %}
                        <li>&nbsp;</li>
                        <li><strong>Non-abonné</strong></li>
                        {% for todo,tags in unsubscribedTodoLists %}
                        <li>
                            <a class="{% if(currentRoute == 'list.show.'~todo) %}active{% endif %}" href="{{ path_for('list.show', {'todolist': todo}) }}">
                                <svg class="svg arrow" viewBox="0 0 20 20">
                                  <path d="M0 0 L10 10 L0 20"></path>
                                </svg>
                                {{ todo }}
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>
            <content>
                {% block body %}
                    <p>Bonjour <strong>{{name}}</strong>.</p>
                {% endblock %}
            </content>
        </wrapper>


        <!-- <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')</script> -->
        <script>
            var elems = document.getElementsByTagName('button'), i;
            for (i in elems) {
                if((' ' + elems[i].className + ' ').indexOf('button') > -1) {
                    button = elems[i];
                    elems[i].parentElement.addEventListener('submit', function(evt) {
                        // this.disabled = true;
                        this.className += " loading";
                        this.addEventListener("click", function(evt) {
                            evt.preventDefault();
                            return false;
                        });
                    }.bind(button));
                    // elems[i].addEventListener("click", function() {
                    //     this.className += " loading";
                    // });
                }
            }
        </script>
        {% block script %}
        {% endblock %}
    </body>
</html>
